/* fonts */
.rubik-spray-paint-regular {
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}



/* btns */
.homeButton {
    border-radius: 0%;
    border: solid;
    border-color: white;
    background-color: rgb(219, 193, 151);
    padding: 12px;
    font-family: "Press Start 2P", system-ui;
}

.homeButton:hover, .return:hover {
  background-color: rgb(150, 138, 120);
}

.homeButtonDiv {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.return {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 0;
  border: solid;
  border-color: rgb(253, 253, 252);
  background-color: rgb(219, 193, 151);
  padding: 12px;
  font-family: "Press Start 2P", system-ui;
}

.returnFromGame {
  float: right;
  background-color: #1b1a1a;
  border: #b8a5a5 solid;
  left: 5px;
  bottom: 5px;
  position: absolute;
}

/*Divs, footers, headers ect.*/
.gamesContainer {
  border: solid white;
  border-radius: 0;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.555);
  width: fit-content;
  margin: auto;
}

.gamesText {
  color: #b8a5a5;
  font-family: "Press Start 2P", system-ui;
  margin-top: 0;
}

.gameDescription {
  font-family: "Press Start 2P", system-ui;
  font-size: 10px;
}

.enterGame { /* button */
  margin-left: auto;
  margin-right: 10px;
  border-radius: 0%;
  border: solid;
  border-color: rgb(154, 121, 149);
  background-color: rgb(44, 42, 41);
  padding: 12px;
  font-family: "Press Start 2P", system-ui;
}

.enterGame:hover {
  background-color: rgb(171, 68, 97);
}

.main_menu {
  margin: 0;
}


/* pops, menus ect */
#gameMenu {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  min-height: 1000px;
}



/* decoration */
body {
  background-color: rgb(40, 37, 36);
  overflow: hidden;
}



/* textboxes */
.title1Div {
  background-color: #0c0c0c;
  margin-top: 60px;
  margin-bottom: 100px;
  padding: 10px;
  border: white 3px solid;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.title2Div {
  background-color: #b8a5a5;
  margin-top: 60px;
  margin-bottom: 70px;
  padding: 10px;
  border: rgb(0, 0, 0) 3px solid;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.desctiption {
  margin-top: 30px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/*footer*/
.footer {
  background-color: #0c0c0c;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.whiteText {
  margin: 5px;
  font-family: "Press Start 2P", system-ui;
  color: #ffffff;
  display: inline-block;
}

.greenText {
  font-family: "Press Start 2P", system-ui;
  color: limegreen;
  display: inline-block;
}



/*scrolling TEXT*/
.glitchAnimation {
  animation: glitch 0.1s;
  animation-iteration-count: infinite;
}

.glitch {
  animation: glitch 0.1s infinite;
  display: inline-block;
}

.scrollGlitch1, .scrollGlitch2 {
  display: inline-block;
  white-space: nowrap;
}

.scrollGlitch1 {
  animation: scrollingLeft 10s infinite;
  animation-iteration-count: infinite;
}

.scrollGlitch2 {
  rotate: 180deg;
  animation: scrollingRight 10s infinite linear;
}

.scrollText {
  display: none;
  font-family: "Press Start 2P", system-ui;
  animation: glitch 0.1s;
  animation-iteration-count: infinite;
}



/*text*/
.title1 {
  font-family: "Press Start 2P", system-ui;
  color: #b8a5a5;
}

.title2 {
  font-family: "Press Start 2P", system-ui;
  color: #1b1a1a;
}

.Text {
  font-family: "Press Start 2P", system-ui;
}

.scenesText {
  font-family: "Press Start 2P", system-ui;
  color: #b8a5a5;
  font-size: small;
}

/* Thhe text glitchingin */
.glitch1, .glitch2, .glitch3, .glitch4 {
  margin: 20px;
  opacity: 0;
  font-family: "Press Start 2P", system-ui;
  font-size: medium;
}
.glitch1 {

  transform: rotate(-5deg);
}

.glitch2 {
  float: right;
  transform: rotate(11deg)
}

.glitch3 {
  float: right;
  transform: rotate(30deg)
}

.glitch4 {
  transform: rotate(4deg);
  float: right
}



/*settings*/
.settingsBox {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: rgb(0, 0, 0);
  border: solid rgb(255, 255, 255) 5px;
  padding: 15px;
}

.settingsDiv {
  margin: 5px;
  display: inline-block;
  padding: 3px;
  width: fit-content;
  border: solid rgb(42, 42, 34) 5px;
  background-color: rgb(255, 255, 255);
}


/* speed typin */
#speedtype {
  margin-top: 20vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding-top: 40px;
  width: 100%;
  height: 100vh;
}

#typeInput {
  width: 200px;
  padding: 10px;
  font-size:22px;

}

.TeachSpeedType {
  color: #12a2ea;
}

.dancingStickman {
  position: absolute;
  top: 10px;
  right: 20px;
  width: auto;
}

.flash-wrong { /*this is for type box in speedtype flash red when wrong*/
  animation: flashRed 0.7s;
}

#textContainer {
  position: relative;
  display: inline-block;
  background-color: white;
}

#typeInput {
  background-color: rgb(40, 37, 36);
  border: 2px solid white;
  color: white;
  padding: 10px;
  font-size: 10px;
}

#Typingline {
  position: absolute;
  width: 2px;
  height: 20px;
  background: black;
  z-index: 30;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  50% {opacity: 0;}
}


#BOMB {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}

#settings {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding-top: 40px;
  width: 100%;
  height: 100vh;
}

/* frames */
@keyframes glitch{
  10% {color: #12a2ea;}
  20% {transform: translateX(6px);}
  25% {transform: translateX(-4px);}
  26% {color: #d8ea12;}
  37% {transform: translate(5px);}
  46% {transform: translate(-3px) rotate(1deg);}
  50% {color: #ea12d8;}
  60% { transform: translate(0, 0) rotate(0deg); }
  76% {color: #12a2ea;}
  80% {transform: translateX(6px);}
  83% {transform: translateX(-4px);}
  86% {color: #d8ea12;}
  87% {transform: translate(5px);}
  89% {transform: translate(-3px) rotate(1deg);}
  92% {color: #ea12d8;}
}


@keyframes GlitchPulse {
  0% {background-color: #12a2ea;}
  20% {background-color: #d8ea12;}
  30% {background-color: #ea12d8;}
  35% {background-color: #12a2ea;}
  55% {background-color: rgb(49, 50, 165);}
  100% {background-color: rgb(0, 0, 0);}
}

@keyframes scrollingLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }

}

@keyframes scrollingRight {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}

/* volume control */
.volumeButton {
  height: auto;
  float: right;
}

.musicToggle {
  float: right;
  height: 60px;
}