/* fonts */
.rubik-spray-paint-regular {
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}





/* btns */
.homeButton {
    border-radius: 25%;
    border-color: darkgoldenrod;
    background-color: blanchedalmond;
    padding: 12px;
    font-family: "Rubik Spray Paint", system-ui;
}

.homeButtonDiv {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}



/* decoration */




/* textboxes */
.title1Div {
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.movingText {
  background-color: red; 
}



/*text*/
.title1 {
  transform: rotate(15deg);
  font-family: "Rubik Glitch", system-ui;
  animation: glitch 0.1s infinite;
}

.flash {
  animation: flashin 5.5s linear infinite;
  background-color: brown;
  padding: 0;
}

.falshingText {
  margin: 0;
  font-family: "Permanent Marker", cursive;
}




/* frames */
@keyframes glitch{
  0% { transform: translate(0, 0) rotate(0deg); }
  45% { transform: translate(5px, -5px) rotate(2deg); }
  55% { transform: translate(-3px, 5px) rotate(2deg); }
  75% { transform: translateX(5px)}
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes flashin {
  50% { opacity: 0}
  66% { opacity: 1}
  90% {opacity: 0}
}

#gameArea {
  display: flew;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding-top: 40px;
  width: 100%;
  height: 100vh;
}